:root {
  --ff-crimson: "Crimson Pro", serif;
  --ff-lora: "Lora", serif;
  --ff-monserrat: "Montserrat", sans-serif;

  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-36: 2.25rem;
  --fs-48: 3rem;

  --fw-200: 200;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --clr-black: hsl(270, 4%, 9%);
  --clr-white: hsl(0, 0%, 100%);
}

.font-lora {
  font-family: var(--ff-lora);
}

.font-crimson {
  font-family: var(--ff-crimson);
}

.hidden {
  display: none;
}

.material-icons-round {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 28px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: inherit;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.md-light {
  color: var(--clr-white);
}

*,
*::after,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--ff-monserrat);
  font-size: var(--fs-14);
  line-height: 1.2;
  overflow-x: hidden;
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding: 1.25rem 0.75rem;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 0.5rem;
  border: 1px solid var(--clr-white);
  width: max-content;
}

.logo > p {
  text-transform: uppercase;
}

.nav-toggle {
  background-color: transparent;
  border: none;
}

.nav {
  position: fixed;
  inset: 0;
  transform: translateX(-100%);
}

.container {
  margin-block-start: 2.375rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  margin-block-end: 1.5rem;
}

.text-container > h1 {
  font-size: 2.25rem;
  font-weight: var(--fw-500);
}

.text-container > p {
  width: 15.625rem;
}

.read-more {
  background-color: transparent;
  border: none;
  color: var(--clr-white);
  font-weight: var(--fw-700);
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
